## OS
.idea
.vagrant
*.DS_store
.DS_Store
DEADJOE

## Docker
.docker/data
.docker/log
.docker/config/nginx/certs/*
.env

## Laravel
/app/.env
/app/vendor
/app/public/attachments/*
/app/public/storage
/app/public/files/*
/app/public/assets/*
/app/public/css/app.css
/app/public/js/app.js
/app/storage/app/public/*
/app/storage/framework/cache/*
/app/public/images/*
